.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url("./blue-map-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
}

.about__title {
  font-family: Museo Sans, sans-serif;
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  padding: 50px 0;
}

.about__subtitle {
  font-family: Museo Sans, sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #17a4a4;
  padding: 50px 0;
}

.about__paragraph {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #f2f4f6;
  opacity: 0.64;
}

.about__topInfo {
  text-align: center;
}

.about__mapImage {
  height: 60vh;
  width: 50%;
  object-fit: contain;
  margin: 10vh 0;
}

.about__logoBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.about__logoImage {
  margin: 10px 20px;
}

.about__rewards {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.about__row {
  display: flex;
  padding: 10vh 0;
}

.about__rowTitle {
  font-family: Museo Sans, sans-serif;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #ffffff;
  flex: 0.4;
}

.about__rowInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0.6;
}

.about__rowText {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #f2f4f6;
  opacity: 0.64;
  margin-bottom: 30px;
}

@media only screen and (max-width: 850px) {
  .about {
    padding-bottom: 10vh;
  }
  .about__title {
    font-size: 24px;
    line-height: 1.5;
  }

  .about__subtitle {
    font-size: 24px;
    font-weight: 300;
    padding: 0 20px;
    margin-bottom: 5vh;
    line-height: 1.5;
  }

  .about__paragraph {
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.5;
  }

  .about__mapImage {
    width: 100%;
    height: 60vh;
    margin: 0;
  }

  .about__logoBox {
    max-width: 100%;
  }

  .about__logoImage {
    justify-content: space-evenly;
    transform: scale(0.5);
    margin: 0;
  }

  .about__rewards {
    max-width: 100%;
    padding-top: 10vh;
  }

  .about__row {
    padding: 0 20px;
    flex-direction: column;
  }

  .about__rowTitle {
    font-size: 24px;
    line-height: 1.5;
  }

  .about__rowText {
    font-size: 15px;
    line-height: 1.3;
  }
}
