.cost {
  height: 150vh;
  background-image: url("./blue-map-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cost__title {
  font-family: Museo Sans, sans-serif;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  max-width: 920px;
  margin-top: 20vh;
  margin-bottom: 50px;
}

.cost__subtitle {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #f2f4f6;
  margin-bottom: 20vh;
}

.cost__row {
  display: flex;
  max-width: 60vw;
}

.cost__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.cost__boxText {
  text-align: center;
  margin-top: 15px;
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #f2f4f6;
}

.hexagon {
  position: relative;
  width: 80px;
  height: 46.19px;
  background-color: #ffffff;
  margin: 23.09px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 23.09px solid #ffffff;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 23.09px solid #ffffff;
}

.cost__successTitle {
  font-family: Museo Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-top: 10vh;
}

@media only screen and (max-width: 850px) {
  .cost {
    height: 225vh;
  }

  .cost__title {
    font-size: 24px;
    line-height: 1.5;
    padding: 0 20px;
  }

  .cost__subtitle {
    font-size: 20px;
    padding: 0 20px;
    margin-bottom: 10vh;
  }

  .cost__row {
    flex-direction: column;
  }

  .cost__boxText {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .cost__successTitle {
    font-size: 24px;
    line-height: 1;
  }
}
