.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  width: 100%;
  z-index: 10;
}

.header__logoImage {
  height: 20.5px;
  width: 130.44px;
  object-fit: contain;
  margin-left: 80px;
  margin-bottom: 18.5px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 787px;
  height: 60px;
  margin-right: 80px;
}

.header__listLink {
  position: relative;
  font-family: Museo Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-variant: small-caps;
  color: white;
}

.header__listLinkBlack {
  position: relative;
  font-family: Museo Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-variant: small-caps;
  color: black;
}

.header__listLink:hover,
.header__listLinkBlack:hover {
  color: #17a4a4;
  transition: 0.8s ease;
}

.header__listLinkBlack::before,
.header__listLink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #d5bb78;
  transition: all 0.5s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.header__listLinkBlack:hover::before,
.header__listLinkBlack:focus::before,
.header__listLink:hover::before,
.header__listLink:focus::before {
  transform: scaleX(1);
}

.customItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 60px;
  background-color: #17a4a4;
  box-shadow: 0px 16px 32px rgba(23, 164, 164, 0.16);
  border-radius: 4px;
  text-align: center;
  transition: 0.5s ease;
  z-index: 1;
}

.customItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1ecdcd;
  z-index: -1;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.customItem:hover::before,
.customItem:focus::before {
  transform: scaleX(1);
  cursor: pointer;
}

.myDropdown {
  position: relative;
}

.header__arrowDropdown {
  position: absolute;
  top: 0;
  margin: 20px 0 0 50px;
  transition: all 1s ease;
  cursor: pointer;
  color: grey;
  height: 8px;
}

.arrow__active {
  position: absolute;
  color: grey;
  top: 0;
  margin: 20px 0 0 50px;
  transform: rotate(180deg);
  transition: transform 1s ease;
}

.header__dropdown {
  display: none;
}

.header__dropdownList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.dropdown__active {
  display: block;
  margin-top: 70px;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  background-color: lightgray;
  width: 192px;
  height: 230px;
  transform: translate(-15%, 0);
  animation: dropdownAnimation 1s ease-out;
}

.header__dropdownLink {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Museo Sans, sans-serif;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-variant: small-caps;
  color: #212a3d;
}

#header__deutch {
  color: grey;
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 3px;
  transition: all 0.3s ease;
  align-items: center;
}

.darkLine1,
.darkLine2,
.darkLine3 {
  width: 25px;
  height: 5px;
  background-color: black;
  margin: 3px;
  transition: all 0.3s ease;
  align-items: center;
}

.header__burger {
  margin-bottom: 20px;
  margin-right: 80px;
  display: none;
  z-index: 9;
}

@media only screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .header {
    align-items: center;
  }

  .header__logoImage {
    margin-left: 20px;
  }

  .header__list {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-image: url("./bg-map.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    margin: 0;
  }

  .myDropdown {
    text-align: center;
  }

  .header__arrowDropdown {
    display: none;
  }

  .header__dropdown {
    display: block;
    height: 300px;
    width: 200px;
  }

  .header__listLink {
    color: black;
  }

  .customLink {
    color: white;
    text-align: center;
  }

  .header__burger {
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
}

.header__active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes dropdownAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: black;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: black;
}
